.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

.answer {
  cursor: pointer;
}

ul {
  list-style: none;
}

.counter {
  color: blue;
}
.green{
  color:green;
}
.red{
  color:red;
}